<p class="task__chapter">Due:</p>
<ul class="task__list">
<li class="task__list" style="text-decoration-line:underline">Sample Book Productivity</li>
<li class="task__list">Bring the following samples to class for review:</li>
<ul>
<li>Full scale Trouser Slopers</li>
<li>J-fly sewing sample</li>
</ul>
</ul>
<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Full Scale Trouser Slopers</li>
<li>0.5 or 0.7 mm mechanical pencils</li>
<li>Erasers (if needed)</li>
<li>Gridded or alphanumeric pattern paper</li>
<li>Paper Scissors</li>
<li>&frac12; inch wide MATTE/SATIN FINISH scotch tape</li>
<li>Clear straight ruler with 1/8 inch markings</li>
<li>Pushpins or sewing pins</li>
<li>Fashion French curve/Varyform curve</li>
<li>24" hip curve ruler</li>
<li>14” x 24” Large L-Square ruler</li>
<li>Fashion Fabric of choice</li>
<li>Sewing Supplies - See syllabus for necessary sewing materials</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Runway Trousers pattern drafting continues.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Complete pattern drafting for the Runway Trousers project.</li>
<li>Patterns must be drafted face-up one way. No cutting on fold.</li>
<li>Begin cutting Runway Trousers patterns.</li>
</ul>