<p class="task__chapter">Due:</p>
<ul class="task__list">
<li style="text-decoration-line:underline">Come to class with the completed Shirt/Blouse in preparation for critique.</li>
</ul>
<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Half Scale Oaktag Slopers</li>
<li>Full Scale Oaktag Slopers</li>
<li>0.5 or 0.7 mm mechanical pencils</li>
<li>Erasers (if needed)</li>
<li>Gridded or alphanumeric pattern paper</li>
<li>Paper Scissors</li>
<li>&frac12; inch wide MATTE/SATIN FINISH scotch tape</li>
<li>Clear straight ruler with 1/8 inch markings</li>
<li>Pushpins or sewing pins</li>
<li>Fashion French curve/Varyform curve</li>
<li>24" hip curve ruler</li>
<li>14” x 24” Large L-Square ruler</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Runway Shirt/Blouse Recreation Critique</li>
<li>Draft the Size 8 Women’s trouser slopers.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li style="text-decoration-line:underline">Complete and submit Runway Shirt/Blouse Recreation Project via Blackboard &gt; Submissions by EoD.</li>
<li>Complete the trouser slopers in FULL SCALE.</li>
<li>Work on patterning and construction of the Runway trousers.</li>
</ul>