<p class="task__chapter">Due:</p>
<ul class="task__list">
<li style="text-decoration-line:underline">Bring finalized Runway Trousers design to begin drafting patterns.</li>
</ul>
<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following pattern pieces (cut, notched, and marks transferred) to class:</li>
<ul>
<li>Front Trouser Sample (2 pieces)</li>
<li>Back Trouser Sample (2 pieces)</li>
<li>Zipper Guard(2 pieces)</li>
<li>Trouser Pocket Facing(2 pieces)</li>
<li>Trouser Pocket Bag(2 pieces)</li>
<li>Womenswear J-Fly Facing (2 pieces)</li>
</ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>0.5 or 0.7 mm mechanical pencils</li>
<li>Erasers (if needed)</li>
<li>Gridded or alphanumeric pattern paper</li>
<li>Paper Scissors</li>
<li>&frac12; inch wide MATTE/SATIN FINISH scotch tape</li>
<li>Clear straight ruler with 1/8 inch markings</li>
<li>Pushpins or sewing pins</li>
<li>Fashion French curve/Varyform curve</li>
<li>24" hip curve ruler</li>
<li>14” x 24” Large L-Square ruler</li>
<li>Medium weight muslin</li>
<li>Fusible Weft Interfacing</li>
<li>Polyester/nylon coil zipper (7-9 inches)</li>
<li>Sewing Supplies - See syllabus for necessary sewing materials</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Sewing the trouser sample with J-Fly and Slash Pockets.</li>
<li>Runway trouser pattern drafting begins.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li style="text-decoration-line: underline;">Complete the Full-scale trouser sloper draft and J-fly sewing sample and bring them
to our next class meeting.</li>
<li>Work on patterning and construction of the Runway trousers.</li>
</ul>