<p class="task__chapter">Due:</p>
<ul>
<li class="task__list">Shirt/Blouse Recreation Check-in</li>
<li class="task__list" style="text-decoration-line:underline">Sample Book Productivity</li>
<li class="task__list">Bring the following samples to class for review:</li>
<ul>
<li>Basic Shirt (2 pieces)</li>
<li>Basic Shirt Sleeve</li>
<li>Separate button placket</li>
<li>Add-on/folded button placket</li>
<li>Hidden button placket</li>
<li>One of the samples sewn in muslin</li>
</ul>
</ul>
<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following pattern pieces (cut, notched, and marks transferred) to class:</li>
<ul>
<li>Sleeve Sample (1 piece)</li>
<li>Sleeve Sample Placket (2 pieces)</li>
<li>Sleeve Sample Cuff (2 pieces)</li>
</ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Full Scale Oaktag Slopers</li>
<li>0.5 or 0.7 mm mechanical pencils</li>
<li>Erasers (if needed)</li>
<li>Gridded or alphanumeric pattern paper</li>
<li>Paper Scissors</li>
<li>&frac12; inch wide MATTE/SATIN FINISH scotch tape</li>
<li>Clear straight ruler with 1/8 inch markings</li>
<li>Pushpins or sewing pins</li>
<li>Fashion French curve/Varyform curve</li>
<li>24" hip curve ruler</li>
<li>14” x 24” Large L-Square ruler</li>
<li>Medium weight muslin</li>
<li>Fusible Weft Interfacing</li>
<li>Sewing Supplies - See syllabus for necessary sewing materials</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Drafting and sewing an inset neckline placket.</li>
<li>Drafting a sleeve cuff.</li>
<li>Sewing the sleeve placket sample.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Complete the neckline and sleeve placket samples.</li>
</ul>