<p class="task__chapter">Due:</p>
<ul>
<li class="task__list" style="text-decoration-line:underline">Sample Book Productivity</li>
<li class="task__list">Bring the following samples to class for review:</li>
<ul>
<li>Skirt Added Fullness</li>
<li>A Line Skirt (2 pieces)</li>
<li>Lantern Sleeve (2 pieces)</li>
<li>Mandarin Collar</li>
<li>2-piece Collar</li>
<li>Convertible Collar</li>
<li>Peter Pan Collar</li>
<li>One of the samples sewn in muslin</li>
</ul>
</ul>
<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Half Scale Oaktag Slopers</li>
<li>0.5 or 0.7 mm mechanical pencils</li>
<li>Erasers (if needed)</li>
<li>Gridded or alphanumeric pattern paper</li>
<li>Paper Scissors</li>
<li>&frac12; inch wide MATTE/SATIN FINISH scotch tape</li>
<li>Clear straight ruler with 1/8 inch markings</li>
<li>Pushpins or sewing pins</li>
<li>Fashion French curve/Varyform curve</li>
<li>Half Scale L-Square ruler (optional)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Creating the torso sloper.</li>
<li>Drafting the Kimono slopers.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Complete the torso sloper and kimono slopers in half scale.</li>
</ul>