<p class="task__chapter">Due:</p>
<ul class="task__list">
<li style="text-decoration-line: underline">Come to class with the half-scale slopers cleanly cut, drilled, notched,and labeled.</li>
<li style="text-decoration-line: underline">Oaktag slopers will be reviewed to ensure precision in copying and cutting.</li>
</ul>
<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Half Scale Oaktag slopers</li>
<li>Mechanical pencils</li>
<li>Gridded or alphanumeric pattern paper</li>
<li>Paper Scissors</li>
<li>&frac12; inch wide MATTE/SATIN FINISH scotch tape</li>
<li>Clear straight ruler with 1/8 inch markings</li>
<li>14” x 24” large L-Square ruler</li>
<li>Fashion French curve/Armsyce ruler</li>
<li>Fashion Hip Curve ruler</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Continue Drafting the Basic Five Full Scale Slopers</li>
<ul>
<li>Bodice Front</li>
<li>Bodice Back</li>
<li>Skirt Front</li>
<li>Skirt Back</li>
<li>Sleeve</li>
</ul>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Continue drafting full scale Size 8 Womenswear slopers</li>
</ul>
